@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #333;
}


.custom-range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ff0000; /* Change this to your desired color */
    border-radius: 50%;
    cursor: pointer;
  }
  
  .custom-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ff0000; /* Change this to your desired color */
    border-radius: 50%;
    cursor: pointer;
  }
  
  .custom-range::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #ff0000; /* Change this to your desired color */
    border-radius: 50%;
    cursor: pointer;
  }